:root {
  /*COLORES*/
  --primario: #0077b6;
  --secundario: #ffb703;
  --tercero: #bde0fe;
  --cuarto: #ffffff;

  /*FUENTES*/
  --primeraFuente: "Tsukimi Rounded", sans-serif;
  --segundaFuente: "Oswald", sans-serif;
}

/*GLOBALES*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

body {
  background-color: var(--cuarto);
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
/*HEADER*/

.header {
  background-color: transparent;

  width: 100%;
  height: 65px;
  padding: 0px 30px;
  position: fixed;
  z-index: 2;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
}
.logo-img {
  width: 6%;
  padding-top: 5px;
}
.header__navbar {
  display: flex;
  gap: 10px;
}

#toggle-menu {
  display: none;
}
.navbar .bars {
  font-size: 25px;
  color: var(--secundario);
  display: none;
  cursor: pointer;
}
.navbar__list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
}

.navbar__link {
  font-family: var(--segundaFuente);
  color: var(--secundario);
}

.navbar__link:hover {
  color: var(--primario);
}


/* CARRITO */
.cart {
  position: absolute;
  top: 65px;
  right: 0;
  padding: 50px 30px;
  background: var(--cuarto);
  border-left: 1px solid var(--primario);
  display: flex;
  flex-direction: column;
  gap: 30px;
  height: calc(100vh - 65px);
  overflow-y: scroll;
  z-index: 2;
  min-width: 375px;
  transform: translate(200%);
  transition: all 0.5s cubic-bezier(0.92, 0.01, 0.35, 0.99);
}

.cart-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.cart-label {
  display: block;
}
.cart-icon {
  display: block;
  font-weight: 600;
  border-radius: 10px;
  font-size: 18px;
  margin-right: 1rem;
  margin-left: 1rem;
  color: var(--secundario);
  cursor: pointer;
  position: relative;
}
.cart-bubble {
  position: absolute;
  top: -12px;
  right: -7px;
  text-align: center;
  background: var(--primario);
  color: var(--cuarto);
  font-size: 12px;
  font-weight: 500;
  height: 18px;
  width: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 1px;
  border-radius: 50%;
}
/*OCULTAR BARRA DE SCROLL DEL CARRITO*/

.cart::-webkit-scrollbar {
  display: none;
}

.cart h2 {
  color: var(--secundario);
  font-size: 20px;
  font-weight: 600;
  font-family: var(--segundaFuente);
}

.cart-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  background-color: var(--primario);
  padding: 20px;
  border: 1px solid var(--electric);
  border-radius: 10px;
}

.cart-item img {
  height: 65px;
  width: 65px;
}

.item-info {
  display: flex;
  flex-direction: column;
  min-width: 110px;
}

.item-title {
  color: var(--secundario);
  font-weight: 600;
  font-size: 14px;
}

.item-bid {
  color: var(--secundario);
  font-weight: 300;
  font-size: 12px;
}

.item-price {
  background: linear-gradient(to right, #30cfd0, #c43ad6);
  background-clip: text;
  color: transparent;
  -webkit-background-clip: text;
  font-size: 16px;
  font-weight: 800;
}

.item-handler {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.quantity-handler {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2px 8px;
  border-radius: 5px;
  color: var(--primario);
  font-weight: 400;
}

.item-quantity {
  color: var(--secundario);
}

.up {
  border: 1px solid var(--secundario);
}

.down {
  background-color: var(--secundario);
  border: 1px solid var(--primario);
}

.divider {
  margin-top: 20px;
  border: 0.5px solid var(--primario);
  width: 100%;
}

.cart-total {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  width: 100%;
}

.cart-total p {
  color: var(--secundario);
  font-weight: 700;
  font-family: var(--segundaFuente);
}

.cart-total span {
  color: var(--secundario);
  font-weight: 400;
  font-size: 18px;
  font-family: var(--primeraFuente);
}

/*Toggle del carro*/
.open-cart {
  transform: translate(0%);
  transition: all 0.5s cubic-bezier(0.92, 0.01, 0.35, 0.99);
}

.empty-msg {
  color: var(--primario);
  font-size: 16px;
  font-family: var(--primeraFuente);
}

/*ANIMACION*/
.overlay {
  position: absolute;
  top: 65px;
  left: 0;
  height: 100vh;
  width: 100%;
  z-index: 1; /*Para que quede por encima del resto de las cosas*/

  /*Efecto de Glassmorphismo*/
  background: rgba(245, 219, 18, 0.05);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  display: none;
}

.show-overlay {
  display: block;
}


/*CARRITO */
.cart-icon {
  transition: all 0.2s ease-out;
}

.cart-icon:hover {
  color: var(--primario);
  border-color: var(--primario);
  transition: all 0.2s ease-in;
}

/*Botones del carrito*/
.quantity-handler {
  transition: all 0.2s ease-in;
}

.quantity-handler:hover {
  cursor: pointer;
  background-color: var(--secundario);
  transition: all 0.2s ease-in;
}

/*Botones comprar(carrito) y add(producto) */
.btn-add,
.hero-info a {
  transition: all 0.2s ease-out;
}

.btn-add:hover,
.hero-info a:hover {
  background-color: var(--fire);
  transition: all 0.2s ease-in;
}

/* Boton ver mas de la sección de productos */
.btn-load {
  transition: all 0.2s ease-out;
  font-weight: 600;
}

.btn-load:hover {
  background-color: var(--electric);
  color: var(--text-white);
  transition: all 0.2s ease-in;
}

/*MEDIA QUERIES PARA TABLET*/
@media (max-width: 992px) {
  /*NAVBAR*/
  .logo-img {
    width: 8%;
  }
}
@media (max-width: 768px) {
  /*NAVBAR*/
  .logo-img {
    width: 8%;
    padding-top: 5px;
  }
  .navbar__list {
    position: absolute;
    top: 65px;
    right: 0;
    padding: 50px 30px;
    background: var(--cuarto);
    border-left: 1px solid var(--primario);
    display: flex;
    flex-direction: column;
    gap: 40px;
    height: calc(100vh - 65px);
    overflow-y: scroll;
    z-index: 2;
    min-width: 375px;
    transform: translate(200%);
    transition: all 0.5s cubic-bezier(0.92, 0.01, 0.35, 0.99);
  }

  .navbar__list::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 51rem;

  }
  .navbar__link {
    top: 100px;
    font-size: 20px;
    position: relative;
    z-index: 2;
  }
  .navbar .bars {
    display: block;
    font-size: 20px;
  }
  .open-menu {
    transform: translate(0%);
    transition: all 0.5s cubic-bezier(0.92, 0.01, 0.35, 0.99);
  }
}

@media (max-width: 576px) {
  .logo-img {
    width: 10%;
  }
}
/*SECTION - HERO*/
#hero {
  padding: 70px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(/assets/productosImg/granos-decafe.jpg);
  height: 55rem;
  width: 100%;
  background-size: cover; /*para que tome todo el espacio disponible*/
  background-repeat: no-repeat;
  background-position: center center;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  border-radius: 5px;
}
.hero-info {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 50%;
  justify-content: center;
  align-items: center;
  margin-top: 90px;
}
.hero__logo {
  width: 100px;
}
.hero-info h1 {
  font-family: var(--primeraFuente);
  font-size: 48px;
  font-weight: 800;
  color: var(--primario);
}
.hero-info h2 {
  font-family: var(--segundaFuente);
  color: var(--secundario);
  font-size: 30px;
  font-weight: 600;
}

.hero-info p {
  font-family: var(--segundaFuente);
  font-size: 20px;
  font-weight: 400;
  color: var(--primario);
}
.hero__btn {
  background-color: var(--tercero);
  color: var(--primario);
  padding: 8px 20px;
  font-size: 18px;
  text-transform: uppercase;
  font-weight: bold;
  font-family: var(--segundaFuente);
  border-radius: 30px;
  text-align: center;
  border: none;
}

.hero__btn:hover {
  background-color: var(--secundario);
}
/*MEDIA QUERIES PARA TABLET*/
@media (max-width: 992px) {
  #hero {
    height: 55rem;
  }
  .hero-card {
    padding: 15px;
  }
}
@media (max-width: 768px) {
  #hero {
    padding: 130px 0;
    height: 55rem;
  }
  .hero-card {
    display: none;
  }
  .img-card {
    width: 270px;
  }
}
/*MEDIA QUERIES PARA CELULAR*/
@media (max-width: 576px) {
  .hero-info {
    margin-top: 130px;
  }
  .hero__btns {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 90%;
  }
}

/*SECTION - MENU*/
#menu {
  margin-top: 40px;
  padding: 70px 0;
  max-width: 1200px;
  background-color: var(--cuarto);
  width: 90%;
  margin-left: 60px;
  border-radius: 10px;
}

#menu h2 {
  font-family: var(--segundaFuente);
  color: var(--secundario);
  font-size: 40px;
  font-weight: 600;
  text-align: center;
  margin-bottom: 30px;
}
.products-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  gap: 30px;
}
.product {
  display: flex;
  flex-direction: column;
  background-color: var(--cuarto);

  padding: 15px;
  border-top-left-radius: 15px;
  border-top-right-radius: 150px;
  border-bottom-left-radius: 60px;
  border-bottom-right-radius: 60px;
}
.product:hover {
  background: #2193b0; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to top,
    #6dd5ed,
    #2193b0
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to top,
    #6dd5ed,
    #2193b0
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.product-img {
  width: 250px;
  border-radius: 300px;
}
.product-info {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  margin: 10px;
}
.product-info h3 {
  color: var(--primario);
  font-family: var(--primeraFuente);
  font-weight: 600;
  font-size: 20px;
}
.product-info span {
  color: var(--primario);
  font-family: var(--segundaFuente);
  font-size: 20px;
  font-weight: 600;
}
.product-btns {
  display: flex;
  justify-content: center;
}
.categories {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px 4px;
  background-color: var(--tercero);
  color: var(--primario);
  padding: 10px 20px;
  font-size: 10px;
  text-transform: uppercase;
  font-weight: bold;
  font-family: var(--segundaFuente);
  border-radius: 30px;
  text-align: center;
  border: none;
}
.btn:hover {
  color: var(--cuarto);
  background-color: var(--primario);
}
.container-btn {
  display: flex;
  justify-content: center;
  align-items: center;
}
.active {
  background: var(--secundario);
}
/*MEDIA QUERIES PARA TABLET */
@media (max-width: 992px) {
  .btn {
    font-size: 12px;
  }
}
@media (max-width: 768px) {
  #menu h2 {
    font-size: 60px;
  }
  .btn {
    font-size: 12px;
  }
}

/*MEDIA QUERIES PARA CELULAR*/
@media (max-width: 576px) {
  .product {
    padding: 30px;
  }
  .product-img {
    width: 255px;
  }
  .product-btns {
    display: flex;
    flex-direction: column;
  }
  .btn {
    margin: 10px 4px;
    font-size: 15px;
  }
}

/*NOSOTROS*/
#nosotros {
  margin-top: 40px;
  padding: 70px 0;
  background-color: var(--cuarto);
  max-width: 120rem;
  width: 90%;
}

#nosotros h3 {
  font-family: var(--segundaFuente);
  color: var(--secundario);
  font-size: 40px;
  font-weight: 600;
  text-align: center;
  margin-bottom: 30px;
}

.nosotros-contenedor {
  display: flex;
  gap: 20px;
  justify-content: center;
  align-items: center;
}
.nosotros-img {
  width: 300px;
  border-radius: 10px;
}
.contenedor-p {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
}
.nosotros-contenedor p {
  font-family: var(--segundaFuente);
  color: var(--primario);
  font-size: 15px;
  text-align: center;
}

/*MEDIA QUERIES PARA TABLET */
@media (max-width: 992px) {
  .nosotros-contenedor {
    flex-direction: column;
    gap: 30px;
  }
  .nosotros-img {
    width: 350px;
  }
  .contenedor-p {
    width: 90%;
  }
}

/*MEDIA QUERIES PARA CELULAR*/
@media (max-width: 576px) {
  .nosotros-img {
    display: none;
  }
}

/*CONTACTO*/
#contacto {
  margin-top: 40px;
  padding: 70px 0;
  background-color: var(--cuarto);
  max-width: 120rem;
  width: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
#contacto h3 {
  font-family: var(--segundaFuente);
  color: var(--secundario);
  font-size: 40px;
  font-weight: 600;
  text-align: center;
  margin-bottom: 30px;
}
.contacto-bg {
  background-image: url(/assets/productosImg/granos-cafe-fondo.jpg);
  height: 25rem;
  width: 62%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 10px;
}
.formulario {
  background-color: var(--cuarto);
  margin: -7rem auto 0 auto;
  width: 50%;
  padding: 4rem;
  border-radius: 10px;
}
.campo {
  display: flex;
  margin-bottom: 2rem;
}
.campo__label {
  flex: 0 0 9rem;
  padding-right: 2rem;
  font-family: var(--segundaFuente);
  color: var(--secundario);
}
.campo__field {
  flex: 1;
  border: 1px solid var(--secundario);
  font-family: var(--segundaFuente);
  color: var(--primario);
}
.campo__field--textarea {
  height: 10rem;
}
small {
  flex-direction: column;
  color: var(--primario);
  font-size: 12px;
  font-family: var(--primeraFuente);
}
.btn--form {
  width: 150px;
  margin-left: 1px;
}

/*MEDIA QUERIES PARA TABLET*/
@media (max-width: 992px) {
  .contacto-bg {
    width: 80%;
  }
  .formulario {
    width: 70%;
  }
  small {
    flex-wrap: wrap;
  }
}

@media (max-width: 768px) {
  .contacto-bg {
    width: 90%;
  }
}

/*MEDIA QUERIES PARA CELULAR */
@media (max-width: 576px) {
  .formulario {
    font-size: 25px;
  }
  .campo {
    display: flex;
    flex-direction: column;
  }
  .campo__field {
    font-size: 15px;
  }
  .campo__label {
    flex: none;
  }
  .campo__btn {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
  }
}

/*FOOTER*/
.footer {
  width: 100%;
  height: 130px;
  background-color: var(--tercero);
  padding-top: 20px;
}

.footer h4 {
  text-align: center;
  font-size: 20px;
  color: var(--primario);
  font-family: var(--primeraFuente);
}
.redes-links {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding: 10px;
}
.redes-links i {
  font-size: 25px;
  color: var(--primario);
}
.redes-links i:hover {
  color: var(--secundario);
}
.derechos-reservados p {
  text-align: center;
  color: var(--primario);
  font-size: 12px;
  font-family: var(--segundaFuente);
}

/*LOG IN y SIGN IN*/
#login,
#signin {
  padding: 70px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(/assets/productosImg/granos-decafe.jpg);
  height: 55rem;
  width: 100%;
  background-size: cover; /*para que tome todo el espacio disponible*/
  background-repeat: no-repeat;
  background-position: center center;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  border-radius: 5px;
}

.login-container,
.signin-container {
  display: flex;
  flex-direction: column;
  background-color: var(--primario);
  padding: 50px;
  border-radius: 10px;
  gap: 20px;
  margin-top: 70px;
}
.login-container h2 {
  text-align: center;
  color: var(--cuarto);
  font-family: var(--segundaFuente);
  font-size: 45px;
  font-weight: 600;
}
.form,
#login-form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 50px;
  justify-content: center;
  align-items: center;
}

.form input,
#login-form input {
  border-radius: 15px;
  box-shadow: none;
  width: 270px;
  height: 45px;
  font-family: var(--segundaFuente);
  text-align: center;
  color: var(--primario);
}

.container-logo {
  display: flex;
  justify-content: center;
  align-items: center;
}
.login__logo,
.signin__logo {
  width: 80px;
}

.forgot-pass {
  text-align: center;
  color: var(--cuarto);
}
.form__field.success input {
  border: 1px solid #28a745;
}

#form__error {
  color: #dc3545;
  font-size: 1rem;
  margin: 8px 0px;
  max-width: 350px;
  text-align: center;
}
/*SIGN IN*/
.signin-container h2 {
  text-align: center;
  color: var(--cuarto);
  font-family: var(--segundaFuente);
  font-size: 20px;
}
.signin-btns {
  display: flex;
  flex-direction: column;
}
form .signin-btn {
  margin: 5px;
  border-radius: 30px;
}

/* 
   FALTA HACER LA PARTE DEL CARRITO DEL NAV
   VER QUE LAS OPCIONES DEL NAVBAR NAVEGUEN POR LAS SECCIONES#
   HACER SECTION NOSOTROS Y CONTACTO - CON SUS RESPECTIVOS MQ#

  ARREGLAR MQ DE LA PARTE DE CONTACTOS - SE ROMPE EL FIELD CUANDO CAMBIO DE MQ #

   FOOTER#
   PAGINA DE LOGIN#
   PAGINA DE REGISTRO#
   PAGINA CENTRADA EN RESOLUCIONES MUY GRANDES #
   REVEER MARGIN-LEFT (porque al centrar desde el main no  hace falta talvez los margenes)# 
*/
